# Credentials
/credentials/

# Environment
.env

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/

# Coverage
htmlcov/
coverage.xml
.coverage

# Test reports
junit-report.xml

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Virtual environment
.venv/
